<!DOCTYPE html>
<html lang="pl-PL">
<head><meta http-equiv="Content-Type" content="text/html; charset=gb18030">
<title>AT:LAS</title>
<!--FAVICON-->
<link rel="Shortcut icon" href="templates/images/borowik-sosnowy-fav.png"/>
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" value="Aplikacja zawieraj膮ca podstawowe informacje na temat wybranych gatunk贸w grzyb贸w.">
<meta name="keywords" value="grzyb, grzyby, grzybobranie, las">
<meta name="autor" value="Mateusz Gajewski">
<link rel="stylesheet" type="text/css" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Inconsolata:400,700|Lato:300" rel="stylesheet">
<!--ANGULAR JS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="angular-toggle.js"></script>
<!--ANGULAR ROUTE-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script type="text/javascript" src="angular-routing.js"></script>
</head>
<!--ANGULAR APPLICATION-->
<body ng-app="atlasApp" ng-controller="myCtrl">
<!--HEADER CONTAINER-->
	<header class="header">
<!--ROW CONTAINER-->
		<div class="row">
<!--TITLE CONTAINER-->
			<div class="col-6">
				<a href="#" class="header__title">at:las</a> 
			</div>
			<hr class="header__hr">
<!--SOCIALMEDIA CONTAINER-->
			<div class="col-4">
				<div class="header__socialmedia__container">
					<a href="https://www.instagram.com/at_las_/" target="_blank">
						<img src="templates/icons/instagram-icon.png" class="header__socialmedia__container__icon" title="instagram" alt="instagram icon">
					</a>
					<a href="https://pl.pinterest.com/atlasgrzyby/" target="_blank">
						<img src="templates/icons/pinterest-icon.png" class="header__socialmedia__container__icon" title="pinterest" alt="pinterest icon">
					</a>
				</div>
			</div>
		</div>
<!--NAV BAR CONTAINER-->
		<nav>
			<div class="row">
				<div class="col-6">
<!--NAV BAR FOR SMALL DEVICES-->
					<div class="navbar--small">
<!--MENU BUTTON-->
						<div ng-click="displayMenuSmall()">
							<img src="templates/icons/menu-icon.png" class="navbar--small--burger">
						</div>
<!--MENU CONTAINER-->
							<div ng-show="menuSmall" class="navbar--small__categoryContainer">
<!--TIME CONTAINER-->
								<div ng-click="displayTime()" class="navbar--small__item--abc">
									<img src="templates/icons/time-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon">
									<p>czas</p>
								</div>
								<ul ng-show="timeContainer" class="navbar--small__categoryContainer">
    								<li class="navbar--small__category">
    									<a href="#!/wiosna">wiosna</a>
    								</li>
    								<li  class="navbar--small__category">
    									<a href="#!/lato">lato</a>
    								</li>
    								<li  class="navbar--small__category">
    									<a href="#!/jesien">jesień</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!/no-mushroom">zima</a>
    								</li>
    							</ul>
    							<hr>
<!--PLACE CONTAINER-->
								<div ng-click="displayPlace()" class="navbar--small__item">
									<img src="templates/icons/place-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon">
									<p>miejsce</p>
								</div>
								<ul ng-show="placeContainer" class="navbar--small__categoryContainer">
   									<li class="navbar--small__category">
    									<a href="#!las-iglasty">las iglasty</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!las-mieszany">las liściasty</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!no-mushroom">ogródki i łąki</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!tereny-podmokle">tereny podmokłe</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!drewno">drewno</a>
    								</li>
								</ul>
								<hr>
<!--EAT CONTAINER-->
								<div ng-click="displayGastro()" class="navbar--small__item">
									<img src="templates/icons/eat-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon"></img>
									<p>gastro</p>
								</div>
								<ul ng-show="gastroContainer" class="navbar--small__categoryContainer">
									<li class="navbar--small__category">
    									<a href="#!jadalny">jadalny</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!niezdatny">niezdatny</a>
    								</li>
    								<li class="navbar--small__category">
    									<a href="#!trujacy"><span class="bold-color">trujący</span></a>
    								</li>
    							</ul>
    							<hr>
<!--ABC CONTAINER-->			
								<div ng-click="displayAbc()" class="navbar--small__item">
									<p class="navbar--small__item--abc">ABC</p>
									<p>alfa</p>
								</div>
								<div ng-show="abcContainer" class="navbar--small__categoryContainer--abc">
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- a -</a>
    								</div>
    								<div>
    									<a href="#!abc-b" class="navbar--small__category--abc">- b -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- c -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- d -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- e -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- f -</a>
    								</div>
    								<div>
    									<a href="#!abc-g" class="navbar--small__category--abc">- g -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- h -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- i -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- j -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- k -</a>
    								</div>
    								<div>
    									<a href="#!abc-l" class="navbar--small__category--abc">- l -</a>
    								</div>
    								<div>
    									<a href="#!abc-m" class="navbar--small__category--abc">- m -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- n -</a>
    								</div>
    								<div>
    									<a href="#!abc-o" class="navbar--small__category--abc">- o -</a>
    								</div>
    								<div>
    									<a href="#!abc-p" class="navbar--small__category--abc">- p -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- r -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- s -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- t -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- u -</a>
    								</div>
    								<div>
    									<a href="#!abc-w" class="navbar--small__category--abc">- w -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- x -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- y -</a>
    								</div>
    								<div>
    									<a href="#!no-mushroom" class="navbar--small__category--abc">- z -</a>
    								</div>	
    							</div>
    						</div>
					</div>
				</div>
<!--FOR TABLETS AND BIG SCREENS-->
				<div class="navbar--big">
<!---TIMIE CONTAINER-->
					<div class="navbar--big__item"><strong>czas</strong>
<!--HOOVER TOP-->
						<div class="navbar--big__item--hover--top">
								<img src="templates/icons/time-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon">
						</div>
<!--HOOVER BOTTOM-->
					 	<div class="navbar--big__item--hover--bottom">
							<ul>
								<li class="navbar--big__submenuItem">
									<a href="#!wiosna" class="navbar--big__submenuItem--hoover--underline">wiosna</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!lato" class="navbar--big__submenuItem--hoover--underline">lato</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!jesien" class="navbar--big__submenuItem--hoover--underline">jesień</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">zima</a>
								</li>
							</ul>
						</div>
					</div>
<!--PLACE CONTAINER-->
					<div class="navbar--big__item"><strong>miejsce</strong>
<!--HOOVER TOP-->
						<div class="navbar--big__item--hover--top">
							<div class="submenu-item-top">
								<img src="templates/icons/place-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon">
							</div>
						</div>
<!--HOOVER BOTTOM-->
						<div class="navbar--big__item--hover--bottom">
							<ul>
								<li class="navbar--big__submenuItem">
									<a href="#!las-iglasty" class="navbar--big__submenuItem--hoover--underline">las iglasty</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!las-mieszany" class="navbar--big__submenuItem--hoover--underline">las mieszany</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">ogrody oraz łąki</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!tereny-podmokle" class="navbar--big__submenuItem--hoover--underline">tereny podmokłe</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!drewno" class="navbar--big__submenuItem--hoover--underline">drewno</a>
								</li>
							</ul>
						</div>
					</div>
<!--EAT CONTAINER-->
					<div class="navbar--big__item"><strong>gastro</strong>
<!--HOOVER TOP-->
						<div class="navbar--big__item--hover--top">
							<div class="submenu-item-top">
								<img src="templates/icons/eat-icon.png" class="navbar--small__categoryIcon" alt="category icon" title="category icon">
							</div>
						</div>
<!--HOOVER BOTTOM-->
						<div class="navbar--big__item--hover--bottom">
							<ul>
								<li class="navbar--big__submenuItem">
									<a href="#!jadalny" class="navbar--big__submenuItem--hoover--underline">jadalny</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!niezdatny" class="navbar--big__submenuItem--hoover--underline">niezdatny</a>
								</li>
								<li class="navbar--big__submenuItem">
									<a href="#!trujacy" class="navbar--big__submenuItem--hoover--underline">
										<span class="bold-color">trujący</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
<!--ABC CONTAINER-->
					<div class="navbar--big__item"><strong>alfa</strong>
<!--HOOVER TOP-->
						<div class="navbar--big__item--hover--top">
							<div class="submenu-item-top">
								<p class="navbar--small__categoryIcon">ABC</p>
							</div>
						</div>
<!--HOOVER BOTTOM-->
						<div class="navbar--big__item--hover--bottom">
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- a -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-b" class="navbar--big__submenuItem--hoover--underline">- b -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- c -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- d -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- e -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- f -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-g" class="navbar--big__submenuItem--hoover--underline">- g -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- h -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- i -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- j -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- k -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-l" class="navbar--big__submenuItem--hoover--underline">- l -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-m" class="navbar--big__submenuItem--hoover--underline">- m -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- n -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-o" class="navbar--big__submenuItem--hoover--underline">- o -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-p" class="navbar--big__submenuItem--hoover--underline">- p -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- r -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- s -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- t -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- u -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!abc-w" class="navbar--big__submenuItem--hoover--underline">- w -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- x -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- y -</a>
							</div>
							<div class="navbar--big__submenuItem--abc">
								<a href="#!no-mushroom" class="navbar--big__submenuItem--hoover--underline">- z -</a>
							</div>
						</div>
					</div>
				</div>
	   	</nav>
	</header>
<!--MAIN CONTAINER-->	
	<main>
<!--NG-VIEW CONTAINER-->
		<div ng-view></div>
	</main>
<!--FOOTER-->
	<footer>
		<div class="footer">
<!--ROW CONTAINER-->
			<div class="row">
				<div class="col-3">
					<div class="footer--item">
						<p class="footer--header"><strong>o mnie:</strong></p>
							<p>jestem twórcą niniejszej strony, treści oraz ilustracji. więcej informacji znajdziesz <a href="#!o-mnie" class="navbar--big__submenuItem--hoover--underline"><strong>tutaj</strong></a>
							</p>
						<hr>
					</div>
				</div>
				<div class="col-4">
					<div class="footer--item">
						<p class="footer--header"><strong>kontakt:</strong></p>
							<p>tel: 534-031-322</p>
							<p>e-mail: atlas.grzyby@gmail.com</p>
						<hr>
					</div>
				</div>
				<div class="col-3">
					<div class="footer--item">
						<p class="footer--header"><strong>prawa autorskie:</strong></p>
							<p>wszystkie prawa zastrzeżone</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--TOP BUTTOM-->
	<section>
		<div class="topButton__container">
			<a href="#">
				<img src="templates/icons/top-icon.png" class="topButton">
			</a>
		</div>
	</section>
</body>
</html>

