<!--PODGRZYBEK ZAJĄCZEK-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="podgrzybek-zajaczek">
					<h1 class="mashrom-name">podgrzybek zajączek</h1>
					<p class="mashrom-italic-name">boletus subtomentosus</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong> u młodych osobników wypukły, u starszych zdecydowanie spłaszczony o średnicy do 10 cm. posiada aksamitną skórkę w kolorze oliwkowobrązowym, która po kilku dniach bez deszczu jest wyraźnie popękana</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>rurki </strong>jasnożółte o szerokich porach. jeśli masz do czynienia ze świeżym grzybem, to nawet po naciśnięciu nie powinny zmieniać koloru</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> jest stosunkowo długi i wysmukły. miejscami może przebarwiać się na czerwono</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>  najczęściej znajdziesz go między krzaczkami borówek</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/podgrzybek-zajaczek.jpg" alt="podgrzybek zajączek" title="podgrzybek zajączek">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">lip-paź</p>
					<p class="legend-item-hover-small">lip-paź</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las iglasty</p>
					<p class="legend-item-hover-small">las<br>iglasty</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">jadalny</p>
					<p class="legend-item-hover-small">jadalny</p>
				</div>
			</div>
		</div>
		</div>
	</section>
