<!--GOŁABEK WYMIOTNY-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">
<!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="golabek-wymiotny">
					<h1 class="mashrom-name">gołąbek wymiotny</h1>
					<p class="mashrom-italic-name">russula emetica</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz</strong> ma około 4-10 cm śrdednicy. jest bardzo charakterystyczny ze względu na intensywnie czerwony kolor, który mocno kontrastuje z resztą grzyba</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>blaszki </strong>są białe</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> ma długość 5-8 cm</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>jest bardzo kruchy. ma przyjemny zapach, ale w smaku jest gorzki i piecze w język - właśnie z tego powodu jest niezdatny do spożycia</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/golabek-wymiotny.jpg" alt="gołąbek wymiotny" title="gołąbek wymiotny">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">lip-lis</p>
					<p class="legend-item-hover-small">lip-lis</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">tereny podmokłe</p>
					<p class="legend-item-hover-small">tereny<br>podmokłe</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">niezdatny</p>
					<p class="legend-item-hover-small">niezdatny</p>
				</div>
			</div>
		</div>
		</div>
	</section>

<!--GORYCZAK ZÓŁCIOWY-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">
 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="goryczak-zolciowy">
					<h1 class="mashrom-name">goryczak żółciowy</h1>
					<p class="mashrom-italic-name">tylopilus felleus</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz</strong> o średnicy 5-20 cm, brązowy. u młodych egzemplarzy półkolisty, z wiekiem spłaszcza się</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>rurki </strong> są niemal białe lub bladoróżowe</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> lekko wybrzuszony o długości 5-15 cm</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>ze względu na wyraźnie gorzki smak jest niezdatny do spożycia</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/goryczak-zolciowy.jpg" alt="goryczak żółciowy" title="gołąbek goryczak żółciowy">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">czer-paź</p>
					<p class="legend-item-hover-small">czer-paź</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las mieszany</p>
					<p class="legend-item-hover-small">las<br>mieszany</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">niezdatny</p>
					<p class="legend-item-hover-small">niezdatny</p>
				</div>
			</div>
		</div>
		</div>
	</section>
