	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="decalogue">
					<h1 class="mashrom-name">dekalog grzybiarza</h1>
					<p class="mashrom-italic-name">czyli co wziąć sobie do serca, żeby trujak nie zabrał Cię pod ziemię</p>
				</div>
 					<div class="mushrom-description-container">	
 						<p class="mushrom-description"><strong class="bold-color">zawsze</strong> upewnij się, że znaleziony przez Ciebie grzyb jest jadalny</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">śmiertelne</strong> zatrucia grzybami zdarzają się coraz rzadziej, ale nadal się je odnotowuje. nie masz 100% pewności, że napotkany okaz jest jadalny? nie zabieraj go ze sobą</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">wycinaj</strong> grzyby zaraz przy ziemi. wykręcanie ich może naruszyć grzybnię</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">pamiętaj</strong> że osłonięcie miejsca po wyciętym grzybie ściółką zwiększa szansę na to, że jeszcze kiedyś znajdziesz tam ulubione przysmaki. dzięki temu grzybnia będzie w mniejszym stopniu narażona na wyschnięcie</p>
 						<hr>
 	
 						<p class="mushrom-description"><strong  class="bold-color">nigdy </strong> nie niszcz trujących grzybów. dla Ciebie nie będą przydatne, ale są częścią ekosystemu i żyją w symbiozie z wieloma gatunkami roślin</p>		
 				</div>
 			</div>
 <!--IMG WITH MUSHROM-->
 			<div class="col-4">
 				<div class="img-container">
 					<img class="img" src="templates/images/opienka-szkic.png" alt="opieńka szkic" title="opieńka szkic">
 				</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">czas</p>
					<p class="legend-item-hover-small">czas</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">miejsce</p>
					<p class="legend-item-hover-small">miejsce</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">gastro</p>
					<p class="legend-item-hover-small">gastro</p>
				</div>
			</div>
		</div>
		</div>
	</section>
