	<!--OPIEŃKA MIODOWA-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="opienka-miodowa">
					<h1 class="mashrom-name">opieńka miodowa</h1>
					<p class="mashrom-italic-name">armillaria mellea</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong>o średnicy 5–13 cm. u młodych okazów zazwyczaj wypukły, po czym spłaszcza się. występuje w kolorach od miodowobrązowego po oliwkowy. na jego powierzchni łatwo dostrzec drobne łuseczki</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>blaszki </strong> są kremowe</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> lekko wygięty, nieco jaśniejszy od kapelusza. również upstrzony łuseczkami</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>  przed spożyciem należy upewnić się, że jest dobrze ugotowana. surowa może wywołać obiawy zatrucia</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/opienka-miodowa.jpg" alt="opieńka miodowa" title="opieńka miodowa">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">sie-lis</p>
					<p class="legend-item-hover-small">sie-lis</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">drewno</p>
					<p class="legend-item-hover-small">drewno</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">jadalny</p>
					<p class="legend-item-hover-small">jadalny</p>
				</div>
			</div>
		</div>
		</div>
	</section>
