<!--BOROWIK SOSNOWY-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="borowik-sosnowy">
					<h1 class="mashrom-name">borowik sosonowy</h1>
					<p class="mashrom-italic-name">boletus pinophilus</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong> może przybrać kolor od kasztanowego do ciemnobrązowego, a jego rozmiary mogą dochodzić do 25 cm średnicy</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>rurki </strong>u młodych osobników są jasnoszare, później przybierają oliwkową barwę</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> jest kolorze zbliżonym do kapelusza, choć lekko przebarwia się na czerwono. na jego powierzchni możesz dostrzec drobną, acz wyraźną siateczkę</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>jest spotykany zazwyczaj pod sosnami, ale przy odrobinie szczęścia znajdziesz go również pod jodłami</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/borowik-sosnowy.jpg" alt="borowik sosnowy" title="borowik sosnowy">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">maj-paź</p>
					<p class="legend-item-hover-small">maj-paź</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las iglasty</p>
					<p class="legend-item-hover-small">las<br>iglasty</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">jadalny</p>
					<p class="legend-item-hover-small">jadalny</p>
				</div>
			</div>
		</div>
		</div>
	</section>



<!--MLECZAJ RYDZ-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="mleczaj-rydz">
					<h1 class="mashrom-name">mleczaj rydz</h1>
					<p class="mashrom-italic-name">lactarius delicious</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong>ma średnicę 5-12 cm. na jego pomarańczowożółtej powierzchni dostrzeżesz kręgi o nieco ciemniejszym zabarwieniu</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>blaszki </strong>są bladopomarańczowe, gęsto ułożone</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> może osiągać długość do 8 cm</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong> w miejscu nacięcia będzie wydobywać się mleczko o smaku marchewkowym. serio</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/mleczaj-rydz.jpg" alt="mleczaj rydz" title="mleczaj rydz">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">sie-paź</p>
					<p class="legend-item-hover-small">sie-paź</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las iglasty</p>
					<p class="legend-item-hover-small">las<br>iglasty</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">jadalny</p>
					<p class="legend-item-hover-small">jadalny</p>
				</div>
			</div>
		</div>
		</div>
	</section>


<!--PODGRZYBEK ZAJĄCZEK-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="podgrzybek-zajaczek">
					<h1 class="mashrom-name">podgrzybek zajączek</h1>
					<p class="mashrom-italic-name">boletus subtomentosus</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong> u młodych osobników wypukły, u starszych zdecydowanie spłaszczony o średnicy do 10cm. posiada aksamitną skórkę w kolorze oliwkowobrązowym, która po kilku dniach bez deszczu jest wyraźnie popękana</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>rurki </strong>jasnożółte o szerokich porach. jeśli masz do czynienia ze świeżym grzybem, to nawet po naciśnięciu nie powinny zmieniać koloru</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> jest stosunkowo długi i wysmukły. miejscami może przebarwiać się na czerwono</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>  najczęściej znajdziesz go między krzaczkami borówek</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/podgrzybek-zajaczek.jpg" alt="podgrzybek zajączek" title="podgrzybek zajączek">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">lip-paź</p>
					<p class="legend-item-hover-small">lip-paź</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las iglasty</p>
					<p class="legend-item-hover-small">las<br>iglasty</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">jadalny</p>
					<p class="legend-item-hover-small">jadalny</p>
				</div>
			</div>
		</div>
		</div>
	</section>

