	<section class="row">
		<div>
<!--COLUMNS-->
			<!--IMG WITH MUSHROM-->
			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="decalogue">
					<h1 class="mashrom-name">cierpliwości</h1>
					<p class="mashrom-italic-name">kolejne grzyby będą pojawiać się systematycznie</p>
				</div>
 					<div class="mushrom-description-container">	
 						<p class="mushrom-description"><strong class="bold-color">aktualnie </strong>na stronie nie ma żadnego grzyba, którego nazwa rozpoczyna się na tę literę. jest to wersją demonstracyjną, ale niebawem znajdziesz tu wiele ciekawych i przydatnych informacji na temat grzybów. z góry dziękuję za wyrozumiałość i zapraszam do odwiedzania kanałów w mediach społecznościowych</p>	
 				</div>
 			</div>
 			<div class="col-4">
 				<div class="img-container">
 					<img class="img" src="templates/images/no-mushroom.png" alt="szkic" title="szkic">
 				</div>
<!--LEGEND-->

<!--SOCIAL MEDIA-->
 			<div class="legend">
 					
					<a href=""><img src="icons/facebook-icon.png" class="socialmedia-icon" title="facebook" alt="facebook icon"></a>

					<a href="https://www.instagram.com/at_las_/" target="_blank">
						<img src="icons/instagram-icon.png" class="socialmedia-icon" title="instagram" alt="instagram icon">
					</a>
				
<!--PLACE-->
			</div>
		</div>
 			
		</div>
	</section>
