	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="o-mnie">
					<h1 class="mashrom-name">mateusz gajewski</h1>
					<p class="mashrom-italic-name">junior front-end developer i fan grzybobrań</p>
				</div>
 				<div class="mushrom-description-container">	
 						<p class="mushrom-description"><strong class="bold-color">papa </strong>zaszczepił zamiłowanie do poszukiwania grzybów</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">brat </strong>wprowadził w świat programowania</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">agnieszka</strong> wspierała w czasie realizacji projektu <3</p>
 						<hr>


 						<p class="mushrom-description"><strong class="bold-color">z tobą </strong> chcę dzielić swoje pasje</p>
 						<hr>

 						<p class="mushrom-description"><strong class="bold-color">tel:</strong> 534-031-322</p>
 						<p class="mushrom-description"><strong class="bold-color">e-mail:</strong> mateuszgajewski19@gmail.com</p>
 						

 						
 				</div>
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img-no-mushroom" src="templates/images/ja.png" alt="ja" title="ja">
 			</div>

		</div>
		</div>
	</section>
