<!--LEJKÓWKA SZARAWA-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="lejkowka-szarawa">
					<h1 class="mashrom-name">lejkówka szarawa</h1>
					<p class="mashrom-italic-name">clitocybe nebularis</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong>o średnicy 5-15 cm. u mlodych egzemplarzy wypukły, później płaski, a nawet wklęsły. kolor trudno jednoznacznie określić, gdyż mieści się on w przedziale od białego, poprzez siwy aż do popielatego</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>blaszki </strong>cienkie i gęste, zbiegające na trzon</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> stosunkowo wąski o długości 6-12 cm. włóknisty, a u starszych okazów pusty w środku. zazwyczaj nieco jaśniejszy od kapelusza</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong>niektórzy uważają, że po odpowiedniej obróbce grzyb ten jest jadalny. ja natomiast polecam, by zamiast jedzenia go nacieszyć nim tylko oczy - w przeciwnym wypadku może popsuć Ci kiszki</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/lejkowka-szarawa.jpg" alt="lejkówka szarawa" title="lejkówka szarawa">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">wrz-lis</p>
					<p class="legend-item-hover-small">wrz-lis</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las mieszany</p>
					<p class="legend-item-hover-small">las<br>mieszany</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">trujący</p>
					<p class="legend-item-hover-small">trujący</p>
				</div>
			</div>
		</div>
		</div>
	</section>

<!--MUCHOMOR CZERWONY-->
	<section class="row">
		<div>
<!--COLUMNS-->
 			<div class="col-6">

 <!--MAIN CONTAINER HEADER-->
				<div class="mainHead" id="muchomor-czerwony">
					<h1 class="mashrom-name">muchomor czerwony</h1>
					<p class="mashrom-italic-name">amanita muscaria</p>
				</div>
 				<div class="mushrom-description-container">	
 					<p class="mushrom-description"><strong>kapelusz </strong> o średnicy do 20 cm. u młodych okazów kolisty, wraz z wiekiem spłaszcza się</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>blaszki </strong>ułożone gęsto. białe lub bladoróżowe</p>
 					<hr>
 	
 					<p class="mushrom-description"><strong>trzonek </strong> o długości dochodzącej nawet do 20 cm</p>
 					<hr>

 					<p class="mushrom-description"><strong>tip / </strong> nieżaleznie od tego, co słyszaleś i czytałeś o tym grzybie, lepiej nie przykładaj go do ust, bo może skończyć się jak z pocaunkiem dementora</p>
 				</div>	
 		</div>
 <!--IMG WITH MUSHROM-->
 		<div class="col-4">
 			<div class="img-container">
 				<img class="img" src="templates/images/muchomor-czerwony.jpg" alt="muchomor czerwony" title="muchomor czerwony">
 			</div>
<!--LEGEND-->

<!--TIME-->
 			<div class="legend">
 				<div class="legend-item">	
					<img src="templates/icons/time-icon.png" alt="time-icon">
					<p class="legend-item-hover-big">czer-lis</p>
					<p class="legend-item-hover-small">czer-lis</p>
				</div>
<!--PLACE-->
				<div class="legend-item">	
					<img src="templates/icons/place-icon.png" alt="place-icon">
					<p class="legend-item-hover-big">las mieszany</p>
					<p class="legend-item-hover-small">las<br>mieszany</p>
				</div>
<!--EAT-->
				<div class="legend-item">	
					<img src="templates/icons/eat-icon.png" alt="eat-icon">
					<p class="legend-item-hover-big">trujący</p>
					<p class="legend-item-hover-small">trujący</p>
				</div>
			</div>
		</div>
		</div>
	</section>